  

<div id="discountsummary" style="margin-top:5px;" class="mainbox col-md-8 col-md-offset-0 col-sm-8 col-sm-offset-1">                    
    <div class="panel panel-info"  >

        <div class="panel-heading">
            <div class="panel-title"><b>{{shopValue.shopId.shopName}}</b></div>
        </div>     

        <table  class="table table-striped table-condensed table-hover table-bordered" >

            <tr>
                <td>{{shopValue.shopId.address}}</td>
            </tr>
            <tr>
                <td>{{shopValue.shopId.locality}}</td>
            </tr>
            <tr>
                <td>{{shopValue.shopId.city.cityName}}</td>
                
            </tr>
            <tr>
                <td>Phone: {{shopValue.phone1}},{{shopValue.phone2}}</td>
            </tr>
            <tr>
                <td>{{shopValue.shopId.website}}</td>
            </tr>
            <tr>
                <td>{{shopValue.shopId.zipCode}}</td>
            </tr> 


        </table>
        <table class="table table-striped table-condensed table-bordered" >

            <tr>   
                <th style="background-color:lightgray">Offers from - {{shopValue.shopId.shopName}}</th>

            </tr>
            <tr  ng-repeat="data in discountDetails.fromServer |orderBy:createdDate:reverse">
                    <td  style="font-size:15px">
                            <b style="font-size: 25px">{{data.productId.productName}}</b> 
                            &nbsp;&nbsp;&nbsp <b> MRP:&nbsp Rs. {{data.price}} &nbsp;&nbsp;&nbsp 
                                Our price:&nbsp Rs. {{data.discPrice}} &nbsp;&nbsp;&nbsp 
                                {{data.discountPercentage}}% &nbsp  Discount</b>
                            <br>{{data.discountDescription}}<br> 
                            <div class="pull-right"> Valid from : &nbsp{{data.validStartDate|date:'dd/MM/yyyy'}}
                                &nbsp;&nbsp;&nbsp;&nbsp To : &nbsp{{data.validEndDate|date:'dd/MM/yyyy'}}</div>
                            </td>

                </tr>
        
         
        </table>


    </div>   
    <br>
    <br>
    <br>
    <br>
</div>  







